.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.layout-header h1 {
  margin: 0;
  font-size: 28px;
  letter-spacing: normal;
  line-height: 1.2;
}

.layout-nav {
  background-color: #0a2a5e;
  padding: 12px 20px;
}

.layout-nav a {
  color: #ffffff;
  text-decoration: none;
}

.layout-nav a:hover {
  text-decoration: underline;
}

.layout-footer {
  background-color: #0a2a5e;
  color: #ffffff;
  text-align: center;
  padding: 16px 20px;
}

.layout-footer a {
  color: #ffffff;
}

main {
  padding: 20px;
}

.book-filters {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;

  button {
    padding: 6px 12px;
    border: none;
    background-color: #afbfeb;
    border: 1px solid #afbfeb;
    cursor: pointer;
    border-radius: 4px;

    font-weight: normal;
    /* lagt til som ersatning for inline css i books.jsx */

    &.active{
      font-weight: bold;
    /* lagt til som ersatning for inline css i books.jsx */
    }

    &:hover {
      background-color: #d5dce9;
      border: 1px solid #0a2a5e
    }
  }
}

/* Erstatter inline css i Books.jsx */
.book-info {
  img{
    width: 40px;
    height: 60px;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 8px;
  }
}

/* Erstatter inline css i Books.jsx */
.borrowed {
  color: red;
  margin-left: 0.5rem;
}

/* Erstatter inline css i Books.jsx */
.available{
  color: green;
  margin-left: 0.5rem;
}

/* Erstatter inline CSS i Orders.jsx */
.yours {
  margin-left: 0.5rem;
  color: green;
}

/* Erstatter inline CSS i NewOrder.jsx */
.checkbox-neworder{
  list-style: none;
  padding: 0;
}

/* Erstatter inline CSS i NewOrder.jsx */
.error-neworder{
  color: red;
}

/* Erstatter inline CSS i show404.jsx */
.show-error-image{
  max-width: 100%;
  margin: 20px 0;
}